<form class="" action="/tweets/new" method="post">
  <input type="text" name="content" value="">
  <input type="hidden" name="user_id" value="<%=@user.id%>">
  <input type="submit" name="" value="Tweet" id="submit">
</form>
