<form class="" action="/tweets/<%=@tweet.id%>/edit" method="post">
  <input type="text" name="content" value="<%=@tweet.content%>">
  <input type="hidden" name="user_id" value="<%=@tweet.user_id%>">
  <input type="submit" name="" value="Edit Tweet" id="submit">
</form>
