<form  action="/signup" method="post">
  <label>Username: <input type="text" name="username" value="" required></label><br>
  <label>Email Address: <input type="text" name="email" value="" required></label><br>
  <label>Password: <input type="password" name="password" value="" required></label><br>
  <input type="submit" name="" value="Create User">
</form>
