<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome To Fwitter</title>
  </head>
  <body>
    <div class="main">
      <div class="links">
        <br><br>
        <h1 class="f-headline lh-solid">Welcome to Fwitter</h1>
        <% if !logged_in? %>
        <a class="f2 link dim br-pill ba bw2 ph3 pv2 mb2 dib white" href="/signup">Sign Up</a><br>
        <% end %>
      </div>
    </div>
  </body>
</html>
