<form  action="/login" method="post">
    <label>Username: <input type="text" name="username" value=""></label>
    <label>Password: <input type="text" name="password" value=""></label>
    <input type="submit" id="submit">
</form>
