<h1>Tweet it Up</h1>
<form action="/tweets" method="post">
  <input type="text" name="tweet[content]" id="content" required>
  <input type="submit" name="submit" value="Post It!" id="submit">
</form>
